* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/********************************** Header **********************************/
.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 4rem;
    width: 100%;
    gap: 42%;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    font-size: 24px;
    cursor: pointer;
}

.header-a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50rem;
    margin-right: 3rem;
    gap: 2%;
    cursor: pointer;
    font-size: 25px;
}

.header-a a {
    color: white;
}

/********************************** Hero-Section **********************************/

.hero-section {
    height: 30rem;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img {
    height: 16rem;
    width: 26rem;
    background-color: #caced226;
    margin-left: 6rem;
    background-image: url("Images/hero.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow:
    inset 0 -1em 2em #1F2937,
    0em 0em 0em rgb(0, 0, 0);
}

.hero-section button {
    background-color: #3882F6;
    border: none;
    width: 6.5rem;
    height: 1.8rem;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/********************************** Box1 **********************************/

.box-container {
    height: 20rem;
    width: 100%;
    background-color: #ffffff;
}

.box-container h1 {
    text-align: center;
    padding-top: 2rem;

}

.all-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 5%;
}


.box1 {
    background-color: rgb(255, 255, 255);
    height: 9rem;
    width: 8.5rem;
    border: 3px solid rgba(69, 69, 174, 0.538);
    border-radius: 5px;
    background-image: url("Images/1.png");
    background-size: cover;
}

.box2 {
    background-color: rgb(255, 255, 255);
    height: 9rem;
    width: 8.5rem;
    border: 3px solid rgba(69, 69, 174, 0.538);
    border-radius: 5px;
    background-image: url("Images/2.png");
    background-size: cover;
}

.box3 {
    background-color: rgb(255, 255, 255);
    height: 9rem;
    width: 8.5rem;
    border: 3px solid rgba(69, 69, 174, 0.538);
    border-radius: 5px;
    background-image: url("Images/3.png");
    background-size: cover;
}

.box4 {
    background-color: rgb(255, 255, 255);
    height: 9rem;
    width: 8.5rem;
    border: 3px solid rgba(69, 69, 174, 0.538);
    border-radius: 5px;
    background-image: url("Images/4.png");
    background-size: cover;
}


/********************************** quote-section **********************************/

.quote-section {
    height: 20rem;
    width: auto;
    background-color: #E5E7EB;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #1F2937;
}

.quote-section span{
    display: flex;
    justify-content: flex-end;

}

.contact-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    height: 7rem;
    width:60rem;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 20px;
}

.contact button {
    background-color: #3882F6;
    border: 2px solid white;
    width: 7rem;
    height: 1.8rem;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left:8rem; 
}


/********************************** footer-section **********************************/


.foot-logo{
    background-color: #1F2937;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(253, 253, 253);
   height: 30px;
   padding-top: 2rem;
   font-size: 20px;
   cursor: pointer;
}

.foot-logo a {
    color: white;
}


.foot-panel1 {
    background-color: #1F2937;
    height: 15rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}


.foot-panel1 li {
    padding-top: 10px;
}


.copyright {
    height: 5rem;
    width: auto;
    background-color: #1F2937;
    color: white;
    display: flex;
   align-items: center;
   justify-content: center;
}

